
@{
    ViewData["Title"] = "Principal";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento sin título</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/Perito/AdministrarPeritos?idSesion=@ViewBag.idSesion"><input class="btn btn-primary" type="button" value="Administrar Peritos"></a>
                    <a href="/Perito/VisualizarReportes?idSesion=@ViewBag.idSesion"><input class="btn btn-primary" type="button" value="Visualizar Reportes"></a>
                    <a href="/"><input class="btn btn-primary" type="button" value="Cerrar Sesión"></a>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img src="/images/logo.jpg" width="225" height="255" alt="" class="rounded float-left">
                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                    <div class="col-sm">
                        <label for="">Usuarios Conectados...</label>
                        <div>
                            <textarea cols="40"></textarea>
                        </div>
                        <div>
                            <textarea cols="40" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <label>Usuario: @ViewBag.Perito.Usuario</label>
            </div>
            <div>
                <label>Nombre: @ViewBag.Perito.Nombre</label>
            </div>
            <div>
                <label>Cargo: @ViewBag.Perito.Cargo</label>
            </div>
        </div>
    </div>
    <script src="js/bootstrap-4.0.0.js"></script>
</body>
</html>

