
@{
    ViewData["Title"] = "VisualizarReportes";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento sin título</title>
    <link href="css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="row">
            <a href="/Perito/VerDetalle?idSesion=@ViewBag.idSesion"><input class="btn btn-primary" type="button" value="Ver detalle"></a>
            <a href="/Perito/Principal?idSesion=@ViewBag.idSesion"><input class="btn btn-primary" type="button" value="Regresar"></a>
    </div>
    <table class="table table-hover">
        <thead class="bg-primary">
            <tr>
                <th scope="col">Num. Reporte</th>
                <th scope="col">Telefono del conductor</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estatus</th>
            </tr>
        </thead>
        <tbody>
            @{
                var contador = 1;
                foreach (var reporte in ViewBag.Reportes)
                {
                    <form name="forma" id="forma" action="/Perito/VerDetalle?idSesion=@ViewBag.idSesion">
                        <tr onclick="mostrarDetalles();">
                            <td>@(contador++)</td>
                            <td>@reporte.Telefono</td>
                            <td>@reporte.FechaReporte</td>
                            <td>@reporte.Estatus</td>
                        </tr>
                    </form>
                }
            }

</tbody>
    </table>

    <script>
        function mostrarDetalles() {
            var resultado = $("#forma").submit();
        }
    </script>
</body>
</html>

